$primary = var(--q-color-primary)
$secondary = var(--q-color-secondary)
$tertiary = var(--q-color-tertiary)

$positive = var(--q-color-positive)
$info = var(--q-color-info)
$faded = var(--q-color-faded)
$dark = var(--q-color-dark)

//$negative = var(--q-color-negative)
//$warning = var(--q-color-warning)
//$light = var(--q-color-light)
