# Ignore everything
/*

# But not these files

#src
!/env
!/src
!/src-pwa
!/src-ssr
!.env-example

#other fields
!/.gitignore
!/package.json
!/quasar.extensions.json
!/tailwind.config.js
!/tsconfig.json
!/.eslintrc.js
!/quasar.conf.js
!/README.md
!/.babelrc
!/.postcssrc.js
!/babel.config.js

#node_modules
!/node_modules
/node_modules/*
!/node_modules/@imagina
