[submodule "node_modules/@imagina/qblog"]
	path = node_modules/@imagina/qblog
	url = https://github.com/imagina/qblog.git
[submodule "node_modules/@imagina/qcommerce"]
	path = node_modules/@imagina/qcommerce
	url = https://github.com/imagina/qcommerce.git
[submodule "node_modules/@imagina/qcrud"]
	path = node_modules/@imagina/qcrud
	url = https://github.com/imagina/qcrud.git
[submodule "node_modules/@imagina/qform"]
	path = node_modules/@imagina/qform
	url = https://github.com/imagina/qform.git
[submodule "node_modules/@imagina/qlocations"]
	path = node_modules/@imagina/qlocations
	url = https://github.com/imagina/qlocations.git
[submodule "node_modules/@imagina/qmedia"]
	path = node_modules/@imagina/qmedia
	url = https://github.com/imagina/qmedia.git
[submodule "node_modules/@imagina/qmenu"]
	path = node_modules/@imagina/qmenu
	url = https://github.com/imagina/qmenu.git
[submodule "node_modules/@imagina/qnotification"]
	path = node_modules/@imagina/qnotification
	url = https://github.com/imagina/qnotification.git
[submodule "node_modules/@imagina/qpage"]
	path = node_modules/@imagina/qpage
	url = https://github.com/imagina/qpage.git
[submodule "node_modules/@imagina/qplace"]
	path = node_modules/@imagina/qplace
	url = https://github.com/imagina/qplace.git
[submodule "node_modules/@imagina/qredirect"]
	path = node_modules/@imagina/qredirect
	url = https://github.com/imagina/qredirect.git
[submodule "node_modules/@imagina/qsite"]
	path = node_modules/@imagina/qsite
	url = https://github.com/imagina/qsite.git
[submodule "node_modules/@imagina/qslider"]
	path = node_modules/@imagina/qslider
	url = https://github.com/imagina/qslider.git
[submodule "node_modules/@imagina/quser"]
	path = node_modules/@imagina/quser
	url = https://github.com/imagina/quser.git
[submodule "node_modules\\@imagina\\qhelper"]
	path = node_modules/@imagina/qhelper
	url = https://github.com/imagina/qhelper.git
[submodule "node_modules/@imagina/qdocument"]
	path = node_modules/@imagina/qdocument
	url = https://github.com/imagina/qdocument.git
[submodule "node_modules/@imagina/qbanner"]
	path = node_modules/@imagina/qbanner
	url = https://github.com/imagina/qbanner.git
[submodule "node_modules/@imagina/qevent"]
	path = node_modules/@imagina/qevent
	url = https://github.com/imagina/qevent.git
[submodule "node_modules/@imagina/qchat"]
	path = node_modules/@imagina/qchat
	url = https://github.com/imagina/qchat.git
[submodule "node_modules/@imagina/qplan"]
	path = node_modules/@imagina/qplan
	url = https://github.com/imagina/qplan.git
[submodule "node_modules/@imagina/qad"]
	path = node_modules/@imagina/qad
	url = https://github.com/imagina/qad.git
[submodule "node_modules/@imagina/qcheckin"]
	path = node_modules/@imagina/qcheckin
	url = https://github.com/imagina/qcheckin.git
[submodule "node_modules/@imagina/qappointment"]
	path = node_modules/@imagina/qappointment
	url = https://github.com/imagina/qappointment.git
[submodule "node_modules/@imagina/qtranslation"]
	path = node_modules/@imagina/qtranslation
	url = https://github.com/imagina/qtranslation.git
[submodule "node_modules/@imagina/qbooking"]
	path = node_modules/@imagina/qbooking
	url = https://github.com/imagina/qbooking.git
[submodule "node_modules/@imagina/qrequestable"]
	path = node_modules/@imagina/qrequestable
	url = https://github.com/imagina/qrequestable.git
[submodule "node_modules/@imagina/qcredit"]
	path = node_modules/@imagina/qcredit
	url = https://github.com/imagina/qcredit.git
[submodule "node_modules/@imagina/qauction"]
	path = node_modules/@imagina/qauction
	url = https://github.com/imagina/qauction.git
[submodule "node_modules/@imagina/qgamification"]
	path = node_modules/@imagina/qgamification
	url = https://github.com/imagina/qgamification.git
[submodule "node_modules/@imagina/qbuilder"]
	path = node_modules/@imagina/qbuilder
	url = https://github.com/imagina/qbuilder.git
[submodule "node_modules/@imagina/qoffline"]
	path = node_modules/@imagina/qoffline
	url = https://github.com/imagina/qoffline.git
[submodule "node_modules/@imagina/qqreable"]
	path = node_modules/@imagina/qqreable
	url = https://github.com/imagina/qqreable.git
[submodule "node_modules/@imagina/qwebhook"]
	path = node_modules/@imagina/qwebhook
	url = https://github.com/imagina/qwebhook.git
[submodule "node_modules/@imagina/qcertificate"]
	path = node_modules/@imagina/qcertificate
	url = https://github.com/imagina/qcertificate.git
