// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
@use "quasar/src/css/variables" as q;

$primary: var(--q-primary);
$secondary: var(--q-secondary);
$accent: var(--q-accent);
$positive: var(--q-positive);
$negative: var(--q-negative);
$info: var(--q-info);
$warning: var(--q-warning);
$dark: var(--q-dark);
$tertiary: #4C5D94;

$breakpoint-xs: 575px;
$breakpoint-sm: 767px;
$breakpoint-md: 991px;
$breakpoint-lg: 1199px;


$custom-radius: 10px;
$custom-radius-items: 10px;
$custom-box-shadow: 0px 16px 24px rgba(3, 27, 102, 0.06), 0px 2px 6px rgba(3, 27, 102, 0.04), 0px 0px 1px rgba(3, 27, 102, 0.04);
$green: q.$teal-7;
$red: q.$red-7;

//Builder
$primaryBuilder: #5333ed;
$secondaryBuilder: #2cd4d9;
$custom-accent-color: #EBF1FA;
$bg-custom-accent-color: #EBF1FA;
