name: Update Current Branch

on: workflow_dispatch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          repository: imagina/basequasar-app
          token:  ${{ secrets.DEPLOY_ADMIN_THEME }}

      - name: Initialize submodules
        run: git submodule update --init --remote

      - name: Github Credentials
        run: |
          git config --global user.name "Imagina Actions Bot"
          git config --global user.email "carlosdevia@imaginacolombia.com"
          git config --global url."https://${{ secrets.DEPLOY_ADMIN_THEME }}@github.com/".insteadOf "https://github.com/"

      - name: Set Branch
        id: set_branch
        run: |
          branch=$(git rev-parse --abbrev-ref HEAD)
          echo "current_branch=$branch" >> "$GITHUB_ENV"
          if [ "$branch" == "master" ]; then
            echo "branch_to_merge=staging" >> "$GITHUB_ENV"
          elif [ "$branch" == "staging" ]; then
            # Set branch_deploy to the current branch name
            echo "branch_to_merge=dev" >> "$GITHUB_ENV"
          fi

      - name: Update Version
        if: $branch_to_merge == 'staging'
        run: |
          git checkout $branch_to_merge
          git merge origin/$branch_to_merge
          git submodule foreach --recursive git checkout $branch_to_merge
          git submodule foreach --recursive git merge origin/$branch_to_merge
          git add .
          git commit -m "Realease"
          npm version patch
          git push origin $branch_to_merge

      - name: Merge release to input branch
        run: |
          git checkout $current_branch
          git merge origin/$branch_to_merge
          git submodule foreach --recursive git checkout $current_branch   
          git submodule foreach --recursive git merge origin/$branch_to_merge
          git submodule foreach --recursive git push -u origin $current_branch
          git push origin $current_branch